#sth{style: "background: url('#{asset_path 'bg.png'}'); background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0px 0 1000px 0 !important;  overflow: visible;"}
  #main_content.container
    .row
      .col-md-12
        = image_tag "support_cambodia.png"

    .row{style: "margin-top: 40px;"}
      .col-md-12.text-center.text-uppercase{style: "font-size: 17px; color:black; font-weight: bold;"}
        %p Proud to be a supporter of
        %p Cambodia National Football Team

    .row{style: "margin-top: 40px;"}
      .col-md-3
      .col-md-6.text-uppercase.text-center{style: "background-color: #121b4d;height: 50px;"}
        / = link_to "Support Now", stamp_path(1) , class: "btn", style: "text-decoration: none; display: inline-block; color:white; font-size: 16px; color: white; margin-top: 5px; font-weight: bold;"
        = link_to "Support Now", "/auth/facebook" , class: "btn", style: "text-decoration: none; display: inline-block; color:white; font-size: 16px; color: white; margin-top: 5px; font-weight: bold;"
      .col-md-3