#sth{style: "background: url('#{asset_path 'bg.png'}') top center no-repeat; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0px 0 600px 0 !important;  overflow: visible;  font-family: 'Koulen';"}
  #main_content.container
    .row
      .col-md-12
        = image_tag "support_cambodia.png"

    .row{style: "margin-top: 40px;"}
      .col-md-12.text-center.text-uppercase{style: "font-size: 17px; color:white; "}
        %p មោទនភាពរួមចំណែកគាំទ្រក្រុមបាល់ទាត់ជម្រើសជាតិកម្ពុជាជាមួយ  Clear

    .row{style: "margin-top: 40px;"}
      .col-md-3
      .col-md-6.text-uppercase.text-center{style: "background-color: #121b4d;height: 50px;"}
        / = link_to "Support Now", stamp_path(1) , class: "btn", style: "text-decoration: none; display: inline-block; color:white; font-size: 16px; color: white; margin-top: 5px; font-weight: bold;"
        = link_to "គាំទ្រឥឡូវនេះ", "/auth/facebook" , class: "btn", style: "text-decoration: none; display: inline-block; color:white; font-size: 16px; color: white; margin-top: 5px"
      .col-md-3