.container{style: "background: url('#{asset_path 'support_bg.png'}') center no-repeat; margin-left: 0px !important; margin-right: 0px !important; padding-top:80px; padding-bottom: 1000px; padding-right:0px !important;"}
  .row
    .col-md-12
      = image_tag "support_cambodia.png"

  .row{style: "margin-top: 50px;"}
    .col-md-12.text-center.text-uppercase{style: "font-size: 13px; color:black; font-weight: bold;"}
      %p Proud to be a supporter of
      %p Cambodia National Football Team

  .row{style: "margin-top: 50px;"}
    .col-md-3
    .col-md-6.text-uppercase.text-center{style: "background-color: #121b4d;height: 50px;"}
      = link_to "Support Now", stamp_path(1) , class: "btn", style: "text-decoration: none; display: inline-block; color:white; font-size: 16px; color: white; margin-top: 5px; font-weight: bold;"
    .col-md-3