.div.text-center{style: "color: grey; font-family: Oswald-Light;"}
  .row
    .col-md-12
      %p This web site is directed only to Cambodia consumers for products and services of Unilever Cambodia
  .row
    .col-md-12
      %p This web site is not directed to consumers outside of Cambodia.
  .row
    .col-md-12
      %p ©2016 Unilever.