.row.text-center{style: "color: #fff; font-family: Oswald-Light;border-top: 2px solid #787679;margin-top: 50px"}
  .col-md-12{style: "margin-top: 10px"}
    %p This web site is directed only to Cambodia consumers for products and services of LEO Beer Cambodia

    %p This web site is not directed to consumers outside of Cambodia.

    %p ©2016 LEO BEER.