%nav.navbar.navbar-fixed-top.menu{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %img{:alt => "", :src => asset_path("logo.png")}/
    / Collect the nav links, forms, and other content for toggling
    #menu.collapse.navbar-collapse{style: "margin-top: 40px;"}
      %ul.nav.navbar-nav
        %li
          %a.text-uppercase{:href => "#"} Home
        %li
          %a.text-uppercase{:href => "/support"} Support
        %li
          %a.text-uppercase{:href => "/kickup"} Game Leaderboard
    / /.navbar-collapse
  / /.container
